/* Style CSS for Clownie.org */



/*  Body CSS */

body {
	font: 100% Helvetica,Verdana, Arial,  sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
 background-color:#F7F2E0;

  background-size:cover;
}



body h1{
	
    text-shadow: 3px 3px 3px white;
    font-size: 4em;
    color:inherit;
}

body .btn-success, .btn-success:hover {
	background-color:#F2CC20;
	border: 2px solid #F2CC20;
    border-radius: 15px;
    box-shadow: 3px 10px 5px grey;
    color:inherit;
}



body {
  font-size:2em;
}

.alert-danger {
	display:none;
	color:inherit;
}

.floatright {
	float:right;
}

/* Mid section CSS */

 .clownContainer {
  background-image:url("images/irvinD2.jpg");
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  }


.midcont{
    padding-top:100px;
    padding-bottom:100px;
    background-color:#F7F2E0;

}

.midcont p{
  font-size:3em;
}

.msgKevin {
  color:green;
  background-color:yellow;
}

/* Video CSS */

.playerBorder {
	  background-color:white;
    padding:15px;
    border:3px solid #999999; 
    box-shadow: 10px 10px 5px #888888;
}

/* Footer CSS */

/* Header CSS */



.headersec{
  padding-top:50px;
  
}

.testme {
  background-color:pink;
}
